[masters]
master01 ansible_host=192.222.1.193 rke2_type=server ansible_password=xxx
master02 ansible_host=192.222.1.194 rke2_type=server ansible_password=xxx
master03 ansible_host=192.222.1.195 rke2_type=server ansible_password=xxx

[workers]

[k8s_cluster:children]
masters
workers